@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --font-primaria: 'Montserrat', sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabeçalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu_link{
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-primaria);
}

.apresentacao__links_subtitulo {
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_navegacao {
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 16px;
    /* background-color: #22D4FD; */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
}

.apresentacao__links_navegacao:hover {
    background-color: var(--cor-hover)
}

.foto-ryan {
    width: 37%;
    border-radius: 16px;
    border: 2px solid var(--cor-terciaria);
    padding: 20px;
}

.rodape {
    padding: 23.5px;
    color: var(--cor-secundaria);
    background-color:#323645;
    text-align: center;
    font-family: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .cabeçalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}